body {
  background-image: url(sativa.png);
  font: 16px/28px arial, sans-serif;
}

.container {
  width: 960px;
  margin: auto;
  background-color: #ffffff;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}


.header .judul {
  font-size: 30px;
  font-weight: bold;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
  display: inline-block;
  margin-top: -20px;
}

.header a:hover {
  background-color: wheat;
  color: white;
}

.hero {
  height: 350px;
  background-size: cover;
  background-image: url(covid.jpg);
  background-position: 0 -80px;
  border-top: 5px solid salmon;
  border-bottom: 5px solid skyblue;
}

.main {
  width: 650px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  text-align: justify;
}


.main h2 {
  font-size: 40px;
  font-weight: bold;
}

.main .penulis {
  font-size: 11px;
  margin-top: -25px;
}

.main .penulis a {
  color: salmon;
  text-decoration: none;
}

.main a {
  color: salmon;
  text-decoration: none;
}

.main a:hover {
  color: skyblue;
  background-color: black;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}

.footer .img {
  text-align: center;
}

.sidebar {
  width: 250px;
  float: right;
  padding: 20px;
  text-align: justify;
}

.sidebar h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.sidebar img {
  height: 105px;
  width: 90px;
  object-fit: cover;
  float: left;
  border-radius: 30%;
}

.sidebar p {
  font: 16px arial;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}